h1, h2, h3 {
    font-family: 'Satisfy', cursive;
}
h2 {
    font-size: 40px;
}
h3 {
    color: #17a2b8;
    font-size: 30px;
    text-decoration: underline;
}
h4 {
    font-size: 14px;
}
h5 {
    text-decoration: underline;
    margin: 0;
}
h1 {
    transition: transform .2s; 
}
h1:hover {
    transform: scale(1.03);
}
.card h1 {
    margin-bottom: 25px;
}
.border-info {
    border-top-width: 5px !important;;
}

.tooltip-inner {
    background-color: #17a2b8;
    color: white;
}
.resumeIcon {
    color: #17a2b8;
    position: absolute;
    right: 7%;
}

/* Reponsive Image CSS */
.img-fluid {
    max-width: 30% !important;
}
#briphoto {
    border: 5px solid;
    border-image-source: linear-gradient(45deg, rgb(204, 238, 255), rgb(247, 204, 255));
    border-image-slice: 1;
}

@media (max-width: 2024px) {
    .logodiv .leftlogo, .leftlogo span {
        margin-left: 0;
    }
}

@media (max-width: 1024px) {
    .logodiv .leftlogo, .leftlogo span {
        margin-left: 0;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}

@media (max-width: 768px) {
    .card {
        margin: 15px;
        max-width: 100%;
    }
    .flex-container {
        max-width: 60vw;
        min-height: 85vh;
        overflow: auto;
    }
    .logoimg {
        display: block;
        max-width: 100px;
        margin-left: auto;
    }
    .logodiv span {
        display: block;
        margin-left: 160px;;
    }
    .logcol {
        max-width: 300px;
    }
    .img-fluid {
        max-width: 50%;

    }
    .col-md-12 {
        margin-top: 9px;
    }

    nav h1 {
        margin: 0
    }
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar {
        padding-bottom: 0;
    }

    .navbar ul{
        flex-direction: row;
    }
    .navbar ul > li {
        margin-left: 12px;
    }
} 

@media (max-width: 640px) {
 
    .col-md-12 {
        margin-top: 9px;
    } 

    .img-fluid {
        padding-right: 0 !important;;
        max-height: 200px;
        float: none !important;;
        padding-bottom: 24px;
        margin-left: auto;
        margin-right: auto !important;;
        padding-bottom: 0 !important;;
        display: block;
    }

    nav ul {
        margin-left: auto;
    }

    nav h1 {
        text-align: center;
    }
    .navbar-brand {
        width: 100%;
        padding-top: 0;
        margin-right: 0;
    }
    .navbar ul{
        margin-right: auto;
    }
    .navbar {
        padding: 0;
        height: 170px;
    }    
    footer {
        position: sticky;
    }    
    main .col-md-12 {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
}


