#exampleFormControlTextarea1 {
    height: 200px;
}
.card {
    max-width: 55vw;
    margin-left: auto;
    margin-right: auto;
}
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    overflow: hidden;
}
.btn {
    width: 100px;
}    

@media (max-width: 768px) {
    .card {
        margin: 15px;
        max-width: 100%;
    }
    .card h1 {
        margin-bottom: 25px;
    }
    .col-md-12 {
        margin-top: 9px;
    }

    nav h1 {
        margin: 0
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar ul{
        flex-direction: row;
    }
    .navbar-brand {
        padding-top: 0;
    }
    .navbar ul > li {
        margin-left: 12px;
    }
} 

@media (max-width: 640px) {
    .card {
        margin: 15px;
        max-width: 734px;
    }
    .col-md-12 {
        margin-top: 9px;
    } 
    

    nav ul {
        margin-left: auto;
    }

    nav h1 {
        text-align: center;
    }
    .navbar-brand {
        width: 100%;
        padding-top: 0;
        margin-right: 0;
    }
    .navbar ul{
        margin-right: auto;
    }
    .navbar {
        padding: 0;
        height: 170px;
    }    
    footer {
        position: sticky;
    } 
}
