/* Main & Card styles */
.card {
    margin-top: 28px;
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 71vh;
}

.githubIcon {
    color: #17a2b8;
    position: absolute;
    right: 7%;
}
.card .col-md-6, .card .col-md-12 {
    padding: 0;
}
.parent {
    position: relative;
    
}
.projectrow {
    transition: transform .2s;
}
.projectrow:hover {
    transform: scale(1.3);
}
.child p {
    padding-top: 10px;
}
.parent img {
    object-fit: cover;
    width: 200px;
    height: 175px;
    padding-bottom: 25px;
}
.child {
    position: absolute;
    margin-top: 90px;
    margin-left: 8.881vw;
    width: 200px;
    height: 45px;
    align-items: center;
    
}
.child a {
    color: white;
    
}
.child p {
    font-size: 17px;
}

.child a:hover {
    color: pink;    
}
.card h1 {
    margin-bottom: 25px;
}
.tooltip-inner {
    background-color: #17a2b8 !important;
    color: white !important;
    margin: 15px!important;
}

/* Media Queries for Responsive Web Design */
@media (max-width: 2400px) {
    .child {
        width: 200px;
        margin-left: 12.5vw;
    }
}
@media (max-width: 1920px) {
    .child {
        width: 200px;
        margin-left: 11.4vw;
    }
}
@media (max-width: 1200px) {
    .child {
        width: 16.6vw;
        margin-left: 8.1vw;
    }
}
@media (max-width: 1025px) {
    .child {
        width: 19.5vw;
        margin-left: 6.4vw;
    }
}
@media (max-width: 768px) {
    .card {
        margin: 15px;
        max-width: 100%;
    }

    .col-md-12 {
        margin-top: 9px;
    }

    nav h1 {
        margin: 0
    }
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar ul{
        flex-direction: row;
    }
    .navbar-brand {
        padding-top: 0;
    }
    .navbar ul > li {
        margin-left: 12px;
    }
    .child {
        margin-top: 120px;
        margin-left: 3.4vw;
        width: 200px;
        height: 45px;
        align-items: center;
    }
} 


@media (max-width: 640px) {
    .parent img {
        object-fit: cover;
        width: 400px;
        height: 275px;
        padding-bottom: 25px;
    }
    .child {

        margin-top: 199px;
        margin-left: 16.2vw;
        width: 400px;
        height: 45px;
        align-items: center;
    }

}


@media (max-width: 481px) {
    .child {
        margin-left: 0px;
        width: inherit;
    }
}
@media (max-width: 425px) {
    .child {
        margin-left: 0px;
        width: inherit;
    }
}
@media (max-width: 375px) {
    .child {
        margin-left: 0px;
        width: inherit;
    }
}
@media (max-width: 320px) {
    .child {
        width: inherit;
    }
}