/* Navbar Structure */
header {
  display: inline-flex !important;
}
header h1 {
  font-family: 'Satisfy', cursive;
  height: 70px;
  padding: 12px;
  text-align: center;
  border-bottom-right-radius: 45px;
}
.nav-link {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-shadow: -1px 1px 2px #000,
          1px 1px 2px #000,
          1px -1px 0 #000,
          -1px -1px 0 #000;;
}
.nav-link:focus {
  background-color: #17a2b8;
  color: white;
}
.nav-link:hover {
  background-color: #17a2b8;
  border-radius: 100%;
  color: pink;
  font-weight: 600;
  text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;;
}
.nav {
  justify-content: space-between;
  padding: .5rem 1rem;
}
.navbar-brand {
  justify-content: space-between;
  padding: 0 !important;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(204, 238, 255)), to(rgb(247, 204, 255))) fixed;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  width: 90vw;
}
.card {
  max-width: 55vw;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #073a42;
  background-color:  rgba(236, 143, 253, 0.726);
}
::-webkit-scrollbar {
  width: 15px;
  background-color: #F5F5F5
}
::-webkit-scrollbar-thumb {
  background-color: #468e99;
}

/* Footer CSS */
footer {
  position: fixed;
  bottom: 0;
}
footer .bg-dark {
  margin-bottom: 0;

}
footer p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 0;
}
#linkedin {
  color: rgb(247, 204, 255);
}
#linkedin:hover, #tele:hover {
  color: rgb(232, 131, 250)
}
.socialIcon {
  text-align: center;
  color: #17a2b8;
  margin: 5px;
  font-size: 35px;
}
footer section {
  display: flex;
}

#github {
  margin-left: auto;
}
#tele {
  margin-right: auto;
  color: rgb(247, 204, 255);
}

.logcol {
  margin-top: auto;
  margin-bottom: auto;
  display: inline-flex;
  padding: 0 100px;
}
.logcol span {
  color: #17a2b8;
  font-weight: 600;
  font-size: 25px;
}
.logcol .leftlogo, .leftlogo span {
  /* margin-left: 200px; */
}
.logcol span:hover {
  color: pink;
  font-weight: 600;
  text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;;
}

.logoimg {
  margin-top: 20px;
  margin-bottom: 10px;
  transition: transform .2s; 
  padding-right: 15px;
  max-width: 130px
}
.logoimg:hover {
  transform: scale(1.3);
}
span {
  display: block;
}


